* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  height: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
}

.row button {
  flex-basis: 120px;
  padding: 15px;
  border-radius: 30px;
  background: #333;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

#list-container {
  list-style: none;
  font-size: 17px;
}

#list-container li {
  position: relative;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
}

#list-container li.checked {
  color: #bbb;
  text-decoration: line-through;
}

#list-container li:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 8px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
}

#list-container li.checked:before {
  background-image: url(images/checked.png);
}

#list-container li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

#list-container li span:hover {
  background-color: #edeef0;
}
